mixin popup(modifier)
  .popup&attributes(attributes)
    .popup__bg 
    .popup__content
      button(type="botton").popup__close
        include img/close.svg
      .popup__info  
        h2.popup__title.title Заголовок
        p.popup__text.text Lorem ipsum dolor sit amet consectetur. Pretium enim turpis posuere amet orci. Consectetur dui velit et quam id. Lorem ipsum dolor sit amet consectetur. 